In [10]:
using DataFrames
using CSV

In [14]:
ENV["COLUMNS"], ENV["LINES"] = 200, 15

(200, 15)

In [15]:
avocado_prices = CSV.read("avocado.csv")

18249×14 DataFrame
│ Row   │ Column1 │ Date       │ AveragePrice │ Total Volume │ 4046    │ 4225     │ 4770    │ Total Bags │ Small Bags │ Large Bags │ XLarge Bags │ type         │ year  │ region           │
│       │ Int64   │ Dates.Date │ Float64      │ Float64      │ Float64 │ Float64  │ Float64 │ Float64    │ Float64    │ Float64    │ Float64     │ String       │ Int64 │ String           │
├───────┼─────────┼────────────┼──────────────┼──────────────┼─────────┼──────────┼─────────┼────────────┼────────────┼────────────┼─────────────┼──────────────┼───────┼──────────────────┤
│ 1     │ 0       │ 2015-12-27 │ 1.33         │ 64236.6      │ 1036.74 │ 54454.8  │ 48.16   │ 8696.87    │ 8603.62    │ 93.25      │ 0.0         │ conventional │ 2015  │ Albany           │
│ 2     │ 1       │ 2015-12-20 │ 1.35         │ 54877.0      │ 674.28  │ 44638.8  │ 58.33   │ 9505.56    │ 9408.07    │ 97.49      │ 0.0         │ conventional │ 2015  │ Albany           │
│ 3     │ 2       │ 2015-12-13 │ 0.93         │ 118220.0     │ 794.7   │ 109150.0 │ 130.5   │ 8145.35    │ 8042.21    │ 103.14     │ 0.0         │ conventional │ 2015  │ Albany           │
⋮
│ 18246 │ 8       │ 2018-01-28 │ 1.71         │ 13888.0      │ 1191.7  │ 3431.5   │ 0.0     │ 9264.84    │ 8940.04    │ 324.8      │ 0.0         │ organic      │ 2018  │ WestTexNewMexico │
│ 18247 │ 9       │ 2018-01-21 │ 1.87         │ 13766.8      │ 1191.92 │ 2452.79  │ 727.94  │ 9394.11    │ 9351.8     │ 42.31      │ 0.0         │ organic      │ 2018  │ WestTexNewMexico │
│ 18248 │ 10      │ 2018-01-14 │ 1.93         │ 16205.2      │ 1527.63 │ 2981.04  │ 727.01  │ 10969.5    │ 10919.5    │ 50.0       │ 0.0         │ organic      │ 2018  │ WestTexNewMexico │
│ 18249 │ 11      │ 2018-01-07 │ 1.62         │ 17489.6      │ 2894.77 │ 2356.13  │ 224.53  │ 12014.1    │ 11988.1    │ 26.01      │ 0.0         │ organic      │ 2018  │ WestTexNewMexico │

In [16]:
rename!(avocado_prices, :"4046" => :"Small Hass", :"4225" => :"Large Hass", :"4770" => :"XLarge Hass")

18249×14 DataFrame
│ Row   │ Column1 │ Date       │ AveragePrice │ Total Volume │ Small Hass │ Large Hass │ XLarge Hass │ Total Bags │ Small Bags │ Large Bags │ XLarge Bags │ type         │ year  │ region           │
│       │ Int64   │ Dates.Date │ Float64      │ Float64      │ Float64    │ Float64    │ Float64     │ Float64    │ Float64    │ Float64    │ Float64     │ String       │ Int64 │ String           │
├───────┼─────────┼────────────┼──────────────┼──────────────┼────────────┼────────────┼─────────────┼────────────┼────────────┼────────────┼─────────────┼──────────────┼───────┼──────────────────┤
│ 1     │ 0       │ 2015-12-27 │ 1.33         │ 64236.6      │ 1036.74    │ 54454.8    │ 48.16       │ 8696.87    │ 8603.62    │ 93.25      │ 0.0         │ conventional │ 2015  │ Albany           │
│ 2     │ 1       │ 2015-12-20 │ 1.35         │ 54877.0      │ 674.28     │ 44638.8    │ 58.33       │ 9505.56    │ 9408.07    │ 97.49      │ 0.0         │ conventional │ 2015  │ Albany           │
│ 3     │ 2       │ 2015-12-13 │ 0.93         │ 118220.0     │ 794.7      │ 109150.0   │ 130.5       │ 8145.35    │ 8042.21    │ 103.14     │ 0.0         │ conventional │ 2015  │ Albany           │
⋮
│ 18246 │ 8       │ 2018-01-28 │ 1.71         │ 13888.0      │ 1191.7     │ 3431.5     │ 0.0         │ 9264.84    │ 8940.04    │ 324.8      │ 0.0         │ organic      │ 2018  │ WestTexNewMexico │
│ 18247 │ 9       │ 2018-01-21 │ 1.87         │ 13766.8      │ 1191.92    │ 2452.79    │ 727.94      │ 9394.11    │ 9351.8     │ 42.31      │ 0.0         │ organic      │ 2018  │ WestTexNewMexico │
│ 18248 │ 10      │ 2018-01-14 │ 1.93         │ 16205.2      │ 1527.63    │ 2981.04    │ 727.01      │ 10969.5    │ 10919.5    │ 50.0       │ 0.0         │ organic      │ 2018  │ WestTexNewMexico │
│ 18249 │ 11      │ 2018-01-07 │ 1.62         │ 17489.6      │ 2894.77    │ 2356.13    │ 224.53      │ 12014.1    │ 11988.1    │ 26.01      │ 0.0         │ organic      │ 2018  │ WestTexNewMexico │